
export(.dataParse)
export(.dataList)
export(setLayer)

export(bar)
export(his)
export(line)
export(pie)
export(donut)
export(scatter)
export(graph)
export(heatmap)
export(mapHeatmap)

export(mapLines)
export(markScatter)
export(markPoint)
export(markAxisLine)

export(percent)
export(rmNULL)
export(addSecAxis)
export(`+.REcharts3`)
export(plot.REcharts3)
export(print.REcharts3)
export(renderREcharts3)
export(RECharts3Output)
export(RECharts3Knit)
export(incluedRECharts3)


